.favorite {
  position: absolute;
  @include fluid(top, 12px, 24px);
  @include fluid(right, 12px, 24px);
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;

  &--active {
    .favorite__icon:last-child {
      opacity: 1;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    pointer-events: none;

    &:last-child {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.23s ease-in-out;
    }
  }
}