.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include fluid(margin-top, 20px, 23px);
  margin-bottom: 6px;

  .product {
    margin-top: 0;
  }

  .accordionNext {
    &-content {
      max-height: 100%;

      &--pos {
        position: static;
      }
    }
  }

  &__box {
    position: relative;
    display: flex;
    align-items: end;
    gap: 6px;

    &:last-child {
      pointer-events: none;
    }

    &.filter--open {
      cursor: pointer;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  &__text {
    font-size: 12px;
    letter-spacing: .05em;
    text-transform: uppercase;

    &--accent {
      color: #FF4D26;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 12px;

    &-text {
      font-size: 12px;
      color: #5B5B5B;
      transition: color 0.23s ease-in-out;
      text-transform: uppercase;
      cursor: pointer;

      &--active {
        color: #FF4D26;
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 15, 8, 0.4);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: opacity 0.23s ease-in-out, visibility 0.23s ease-in-out, z-index 0.23s ease-in-out;

    &--active {
      opacity: 1;
      visibility: visible;
      z-index: 15;
    }

    &-inner {
      height: 100%;
      max-width: 600px;
      width: 100%;
      margin-left: auto;
      border-radius: 10px 0 0 10px;
      padding: 24px;
      background-color: #fff;
    }
  }
}

@media(max-width:768px) {
  .filter {
    .accordionNext {
      &-content {
        max-height: 0;
        min-height: 30px;

        &--pos {
          position: absolute;
          left: -12px;
          top: -9px;
          z-index: 2;
        }
      }
    }

    &__box {
      &:first-child {
        .filter__text {
          display: none;
        }
      }

      &:last-child {
        pointer-events: auto;
      }
    }

    &__icon {
      position: relative;
      z-index: 3;
    }

    &__text {
      pointer-events: auto;
    }

    &__sort {
      flex-direction: column;
      align-items: start;
      border-radius: 10px;
      background-color: #fff;
      padding: 12px 12px 12px 40px;

      &-text {
        &--active {
          order: -1;
          color: #000;
        }
      }
    }
  }
}