.form {
  &__title {
    font-size: 24px;
    color: #FF4D26;
    text-transform: uppercase;
  }

  &__img {
    @include fluid(height, 290px, 305px);
    margin-left: auto;
    margin-right: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  &__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 3px;

    a {
      color: #FF4D26;
      border-bottom: 1px dashed #FF4D26;
    }
  }

  &__info {
    font-size: 12px;
    color: #5B5B5B;

    &:has(+*) {
      margin-bottom: 12px;
    }

    span {
      color: #FF4D26;
    }
  }

  &__inner {
    display: grid;
    @include fluid(gap, 24px, 48px);
    grid-template-columns: 1fr;
    @include fluid(gap, 48px, 90px);

    &:has(.form__inner-box+.form__inner-box) {
      grid-template-columns: repeat(2, minmax(350px, -webkit-max-content));
      grid-template-columns: repeat(2, minmax(350px, max-content));
    }    

    &-box {
      max-width: 350px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .label:first-child {
        @include fluid(margin-bottom, 0px, 7px);
      }
    }
  }

  &__block {
    &-box {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;

    &-title {
      font-size: 12px;
      color: #5B5B5B;
    }

    &-textarea {
      min-height: 81px;
    }

    &-input {
      &:disabled {
        +.form__label-icon {
          pointer-events: none;
          opacity: .5;
        }
      }

      &[type="password"] {
        +.form__label-icon {
          svg {
            line {
              stroke: transparent;
            }
          }
        }
      }
    }

    &-icon {
      position: absolute;
      top: 32px;
      right: 12px;
      cursor: pointer;

      svg {

        rect,
        line,
        circle {
          transition: stroke .23s ease-in-out;
        }
      }

      &:hover {
        z-index: 5;

        svg {

          line,
          circle,
          path {
            stroke: #FF4D26;
          }
        }

        +.form__label-hidden {
          opacity: 1;
          z-index: 4;
          visibility: visible;
        }
      }
    }

    &-hidden {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 246px;
      height: fit-content;
      padding: 24px 12px;
      background-color: #fff;
      border-radius: 20px;
      font-size: 12px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.23s ease-in-out, visibility .23s ease-in-out, z-index .23s ease-in-out;
    }

    &-text {
      width: fit-content;
      font-size: 12px;
      color: #5B5B5B;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 6px;

    &--reverse {
      grid-template-columns: .5fr 1fr;
    }

    &--three {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &.accordion--active {
      .form__accordion-select::after {
        transform: rotateX(-180deg) translateY(50%);
      }
    }

    &-title {
      font-size: 12px;
      color: #5B5B5B;
    }

    &-box {
      border-radius: 10px;
      padding: 11px;
      font-size: 16px;
      border: 1px solid #c2c2c2;
      transition: border-color .23s ease-in-out;
      cursor: pointer;
    }

    &-hidden {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 12px;
    }

    &-select {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/images/icons/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform 0.23s ease-in-out;
      }
    }
  }

  &__download {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &-title {
      font-size: 12px;
      color: #5B5B5B;
    }

    &-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-size: 16px;
      border: 1px dashed #c2c2c2;
      padding: 39px;
      transition: border-color .23s ease-in-out;
    }

    &-text {
      padding: 3px 12px;
      font-size: 12px;
      text-align: center;
      background-color: #FF4D26;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
    }

    &-file {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      opacity: 0;
    }
  }

  &__textGray {
    max-width: 315px;
    font-size: 12px;
    color: #5B5B5B;

    a {
      color: #FF4D26;
      text-decoration: underline;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__elem {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-text {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border-bottom: 1px dashed #5B5B5B;
      max-width: 315px;
      font-size: 12px;
      color: #5B5B5B;

      a {
        color: #FF4D26;
      }
    }
  }
}

@media(max-width:992px) {
  .form {
    &__inner {
      &:has(.form__inner-box+.form__inner-box) {
        grid-template-columns: 1fr;
      } 

      &-box {
        max-width: unset;
      }
    }
  }
}