.header {
  position: relative;
  z-index: 11;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 12px;
  }
}

@media(max-width:576px) {
  .header {
    .icons {
      margin-left: auto;
    }
  }
}