.info {
  margin-top: 40px;
  @include fluid(margin-bottom, 40px, 60px);

  &__wrapper {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    text-align: left;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    @include fluid(gap, 48px, 90px);

    &:has(.info__inner-box+.info__inner-box) {
      grid-template-columns: 1fr 350px;
    }

    &-box {
      max-width: 825px;
    }
  }

  &__subtitle {
    font-weight: 500;
    text-transform: uppercase;

    &:has(+.info__textBold) {
      margin-bottom: 30px
    }

    a {
      color: #FF4D26;
      text-decoration: underline;
    }
  }

  &__text {
    &:has(+*) {
      margin-bottom: 30px;
    }

    &:has(+.info__ul) {
      margin-bottom: 0;
    }

    a,
    span {
      color: #FF4D26;
    }

    a {
      text-decoration: underline;
    }
  }

  &__textBold {
    font-weight: 500;
  }

  &__box {
    &:has(+*) {
      margin-bottom: 30px;
    }
  }

  &__ul {
    list-style: inside;

    &:has(+*) {
      margin-bottom: 30px;
    }
  }

  &__ol {
    counter-reset: num;

    &--alt {
      .info__ol {
        &-item {
          position: relative;
          padding-left: 20px;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            color: #202020;
          }
        }
      }
    }

    &-item {
      &:before {
        content: counter(num)'. ';
        counter-increment: num;
        color: #FF4D26;
      }
    }

    &-text {
      margin: 12px 0;
      font-size: 14px;
      color: #5B5B5B;
      padding-left: 20px;

      span {
        font-weight: 600;
        color: #FF4D26;
      }
    }
  }

  &__ul {
    &-item {
      &:before {
        content: '— ';
      }
    }
  }
}

@media(max-width:992px) {
  .info {
    &__inner {
      &:has(.info__inner-box+.info__inner-box) {
        grid-template-columns: 1fr;
      }

      &-box {
        &:last-child {
          order: -1;
        }
      }
    }
  }
}